:host(){
  --dark-blue:#243356;
  --white:#ffffff;
  --yellow:#ffcd0a;
  --light-blue:#00D9FE;
  --size-16:16px;
  --size-14:14px;
}
.alarm-card{
  max-width: 440px;
  width: 100%;
  padding: 30px;
  background: var(--dark-blue);
  color: var(--white);
  border-radius: var(--size-16);
  margin: 24px auto;
}
h1{
  color: var(--yellow);
  font-size: 36px;
  text-align: center;
  font-weight: 500;
}
h2{
  font-size: 48px;
  text-align: center;
  font-weight: 500;
  color: var(--light-blue);
  margin: 30px auto;
}

button{
  background: var(--yellow);
  font-size: 20px;
  padding: var(--size-14);
  border-color: var(--yellow);
  color: var(--dark-blue);
  margin-top: 12px;
}
img{
  margin: 20px auto;
  display: block;
}

img.shake {
  /* Start the shake animation and make the animation last for 0.5 seconds */
  animation: shake 0.5s;

  /* When the animation is finished, start again */
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}