:host(){
  --dark-blue:#022451;
  --white:#fff;
  --dark-gray:#6D6D6D;
  --light-blue:#0076d3;
  --light-gray: #cecece;
  --light-red:#e91515;
}
.app{
  background: var(--dark-blue);
    min-height: 100vh;
    font-size: 16px;
    padding: 16px;
    display: flex;
    flex-wrap: wrap;
}

.box{
  height: 300px;
    width: 300px;
    background: var(--white);
    border-radius: 12px;
    margin: 12px;
}
.box-center{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.dotted-circle{
  border: 2px solid var(--dark-blue);;
  border-radius: 50%;
  padding: 16px;
}
h2{
  font-size: 20px;
  font-weight: 700;
}
.custom-icon{
  --slds-c-icon-color-foreground-default:var(--dark-blue);
}
.edit-icon{
 --slds-c-icon-color-background:var(--dark-blue);
}
.delete-icon{
  --slds-c-icon-color-background:var(--light-red);
}
header{
  background: var(--light-blue);
  color: var(--white);
  padding: 4px 16px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}
.notes{
  height: 221px;
  overflow: auto;
  padding: 4px 16px;
}
.footer{
  display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px 16px;
    background: var(--light-gray);
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}
.date{
  color: var(--dark-gray);
    font-size: 14px;
    font-style: italic;
}
.cursor{
  cursor: pointer;
}